{{ $bURL := .Site.BaseURL }}
{{ partial "header.html" . }} 
<section class="container my-5">
	<div class="row">
		<div class="col-12">
			<h1 class="display-4 fw-normal">{{ .Params.heading}}</h1>
			<p class="text-muted">We respect your privacy and with this in mind have selected ethically focused
				technologies for our website that align to the General Data Protection Regulation (GDPR), ePrivacy
				Directive (ePR - cookie law compliance), Privacy and Electronic Communications Regulations (PECR) and
				California Consumer Privacy Act (CCPA).</p>
			<p class="text-muted">We use the following 3rd party technologies to deliver our website.</p>
			<p class="text-primary text-uppercase">Static Website</p>
			<p class="text-muted">We choose to implement a static website architecture to reduce security vulnerabilities,
				increase performance and have full control over our 3rd party interactions.&ensp; We use a combination
				of the
				Hugo Static website framework and Bootstrap for CSS management.&ensp; No data is shared with Hugo or
				Bootstrap during your interaction.&ensp; We use google fonts and store these locally to remove
				interacting
				with google directly and sharing your information.</p>
			<p class="text-primary text-uppercase">Website Hosting and Development</p>
			<p class="text-muted">We use GitLab to manage feature development, continuous integration, testing and
				delivery. &ensp; We auto deploy to GitLab Pages to host our website.&ensp; You can look under the covers and
				view our <a href='https://gitlab.com/sentify/web' target="_blank">source code, CI-CD
					pipeline and deployment activities.</a></p>
			<p class="text-primary text-uppercase">Cookie Management</p>
			<p class="text-muted">We don't use any cookies, no crumbs here.  We get a weekly report from <a href="https://www.cookiebot.com" target="_blank">Cookiebot</a> that regularly scans our website to double check.
			</p>
			<p class="text-primary text-uppercase">Form Submission</p>
			<p class="text-muted">We use getform.io to support optionally submitting a contact form to us.&ensp; When
				you
				send us a contact request we collect your email address and name in order to reply to requests for
				further information. &ensp;Your information is stored by getforms.io and within our Office 365 account. &ensp;
				Access is provided to a limited number of Sentify staff and not shared with any 3rd parties. &ensp; Getform.io  operate a paid subscription model and do not onsell your data.</p>
			<p class="text-primary text-uppercase">Content Display Network (CDN) & Analytics</p>
			<p class="text-muted">We use Cloudflare to speed up page rendering, minimise our threat of attack, and at the edge Analytics.
				We have chosen Cloudflare configuration that does not track any of your client side data. &ensp;All transport data is fully encrypted end to
				end
				between Cloudflare and GitLab Pages.&ensp;<a
					href='https://www.cloudflare.com/application/privacypolicy/' target="_blank">See Cloudflare privacy
					policy for more
					information. </a></p>
			<p class="text-primary text-uppercase">Your rights</p>
			<p class="text-muted">You have the right to ask for a copy of any personal information we hold about you. &ensp;If you’d like to ask for a copy of your information,
				or to
				have it corrected or removed, please <a href="{{ $bURL }}contact"> contact us.</a></p>
			<p class="text-primary text-uppercase">Continuous Improvement</p>
			<p class="text-muted">We are always looking for ways to improve our security and protect your privacy. &ensp; If
				you have any suggestions please feel free to reach out to us.</p>

			<p class="text-muted">Kind Regards</p>
			<p class="text-muted">Chris Wellington, CEO & Founder</p>

		</div>

	</div>

</section>

{{ partial "footer.html" . }}