{{ $bURL := .Site.BaseURL }}
{{- partial "header.html" . -}}
{{ if .Params.featuredImage }}
<div class="featured-image-holder d-none d-lg-block">
  <div class="featured-image-abs"
    style="background-image: url('{{ $bURL }}img/case-studies/{{ .Params.featuredImage }}')"></div>
</div>
{{ end }}
<section class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-lg-10 col-12 mt-n3">
      <img src="{{ $bURL }}img/brand-logos/{{ .Params.clientLogo }}" class="mb-5 client-logo {{ .Params.modifierClass }}" width="130px" alt="">
      <h1 class="display-5">{{ .Title }}</h1>
      <p class="mt-5 sz-16">{{ .Params.description }}</p>

      <div class="d-flex mt-5 justify-content-center">
        {{ if .Params.metricType1 }}
        <div class="me-5">
          <h4 class="bigShoulderText text-primary display-5">{{ .Params.metricType1 }}</h4>
          <p class="sz-12">{{.Params.metricValue1}}</p>
        </div>
        {{ end }}

        {{ if .Params.metricType2 }}
        <div class="">
          <h4 class="bigShoulderText text-primary display-5">{{ .Params.metricType2 }}</h4>
          <p class="sz-12">{{.Params.metricValue2}}</p>
        </div>
        {{ end }}
      </div>


    </div>
  </div>
  <div class="row justify-content-md-center mt-3">
    <div class="col-lg-8 offcol-12">
      <!-- main content here -->

      {{ range .Params.section }}
      <div class="row mb-5">
        <div class="col-lg-5 col-12">
          <h4 class="bigShoulderText text-primary h1 text-uppercase">{{ .title }}</h4>
        </div>
        <div class="col-lg-7 col-12 sz-16">{{ .description }}</div>
      </div>
      {{ end }}

      <div class="my-5 w-100">
        {{ .Content }}
      </div>

      <!-- testimonial -->
      {{ if .Params.testimonial }}
      <div class="feature-card p-5 mb-5" style="border-radius: 25.5px;">
        <img src="{{ $bURL }}img/quote.svg" alt="">
        <p style="font-size: 24px; font-style: italic;" class="mt-5">{{ .Params.testimonial.text }}</p>

        <div class="d-flex mt-4">
          <div>
            <h4 class="font-weight-medium">{{ .Params.testimonial.by }}</h4>
            <p class="text-muted">{{ .Params.testimonial.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
      <!-- table  -->
      {{ if .Params.tableTitle }}
      <div class="feature-card p-5 mb-5" style="border-radius: 25.5px;">
        <table class="table">
          <thead>
            <tr>
              <th class="text-uppercase h3 sz-24" width="50%">{{.Params.tableTitle.left}}</th>
              <th class="text-uppercase text-end h3 bigShoulderText">{{.Params.tableTitle.right}}</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Params.tableContent }}
            <tr class="sz-16">
              <td class="py-4" style="border-top: solid 3px #979797; border-bottom: 0;">{{ .left }}</td>
              <td class="text-end py-4" style="border-top: solid 3px #ABCFE1; border-bottom: 0">{{ .right }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{- partial "footer.html" . -}}