.nav-link {
    text-align: right;
    width: auto;
}

.has-subnav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    transition: 0.2s 0.1s;
}

svg {
    margin-left: 0.25em;
}

.client-logo {
    margin: auto;
    display: block;
    filter: grayscale(100%) invert(1);
    height: 8em;
    width: auto;
    max-width: 80vw;
}

.product-logos {
    gap: 1em;
}

.product-logos > img {
    filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
    max-width: 200px;
    height: auto;
    padding: 2em 1em;
}

.product-subnav {
    position: absolute;
    top: 15px;
    left: 0;
    width: 763px;
    height: 278px;
    z-index: 3;
    background: #1b1b29;
    border-radius: 1em;
}

.flip-icon {
    transform: rotate(180deg);
    transition: 0.5s linear all;
}

.product-subnav .col-4 {
    border: 0.5px solid rgba(255,255,255,0.15);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-subnav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#subnav > div > div:nth-child(1), 
#subnav > div > div:nth-child(2), 
#subnav > div > div:nth-child(3) {
    border-top: 0; 
}

#subnav > div > div:nth-child(4), 
#subnav > div > div:nth-child(5), 
#subnav > div > div:nth-child(6) {
    border-bottom: 0; 
}

#subnav > div > div:nth-child(1), 
#subnav > div > div:nth-child(4) {
    border-left: 0; 
}

#subnav > div > div:nth-child(3), 
#subnav > div > div:nth-child(6) {
    border-right: 0; 
}

.product-subnav .logo {
    width: 60px;
    height: 60px;
    border-radius: 0.5em;
    border: 2px solid rgba(255,255,255,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-subnav img {
    height: 40px;
    width: auto;
}

.product-subnav .title {
    color: rgba(255,255,255,0.75);
    padding-left: 0.5em;
    margin: auto 0;
    text-transform: uppercase;
    width: 75%;
    font-weight: 700;
}
.black-logo {
    filter: brightness(0) invert(1);
}

.white-logo {
    filter: grayscale(100%);
}

.colour-logo {
    -webkit-filter: grayscale(100%) invert(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) invert(1);
}
@media (max-width: 767px) {
    .attributes {
        padding-left: 1em;
    }
    .product-attributes {
        width: 80%;
    }
    
}

@media (min-width: 800px) {
    .stagger-one {
        padding-top: 50px;
    }
    .stagger-two {
        padding-top: 100px;
    }
    .stagger-three {
        padding-top: 150px;
    }
}

#our-offerings {
    margin-top: -2em;
    padding-top: 2em;
}

.case-study-hover img {
    margin-top: -10px;
    height: 3em;
    width: auto;
}

.case-study-hover {
    max-width: 60%;
}

.contact-image img {
    display: block;
    margin: auto;
    filter: grayscale(100%);
    max-height: 600px;
    overflow: hidden;
}

.product-attributes {
    margin: auto;
}

@media (max-width: 991px) {
    #subnav {
        display: none;
    }
    .contact-image img {
        display: none;
    }
    .interested {
        max-width: 375px;
        margin: auto;
        padding-bottom: 0.5em;
    }
    .client-logo {
        height: 5em;
    }
}

#features > div > div > p {
    text-align: left;
    padding: 0 1em;
}

@media (max-width: 1200px) {
    .site-subtitle {
        max-width: 700px;
        display: block;
    }
    
}
@media (min-width: 992px) {
    .offer-card {
        min-height: 425px;
    }
    .offer-card h5 {
        line-height: 1.5rem;
        min-height: 3rem;
    }
    
    .nonTruncated {
        height: 115px;
    }
    .taller {
        height: 155px;
    }
    .subnav-item {
        display: none;
    }
}
@media (min-width: 1200px) {
    .offer-card {
        min-height: 365px;
    }
}
@media (max-width: 991px) {
    .quote-box {
        margin-top: 2em;
    }
    .cover-background {
        height: 200px;
    }
    .subnav-item {
        display: block;
    }
}

@media (min-width: 1450px) {
    .cover-background {
      background-size: 100%;
    }
}
@media (min-width: 1650px) {
    .cover-background {
       background-size: 90%;
    }
}
@media (min-width: 1850px) {
    .cover-background {
       background-size: 70%;
    }
}

.main_animation_container {
    display: flex;
    position: relative;
    height: 30em;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.main_animation_container svg {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#sentifySvg {
    cursor: pointer;
}

@media(max-width: 992px) {
    .main_animation_container {
        display: none;
    }
    .mobile-graphic {
        max-width: 100%;
        height: auto;
    }
    .blob-graphic {
        max-width: 1200px;
        height: auto;
        background-size: 0%, 36%;
        background-position: right top;
        background-repeat: no-repeat;
          
    }

}

@media(min-width: 992px) {
    .mobile-graphic {
        display: none;
    }
    .blob-graphic {
        max-width: 1200px;
        height: auto;
        background-size: 35%, 35%;
        background-position: right top;
        background-repeat: no-repeat;

    }
}
