#snap{
    scroll-snap-type: y mandatory;    
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;    
}

.children{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style:none;
}

.children::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.children:nth-child(2){
    padding: 50px 0 50px 0;
    display: flex;
}
.children:nth-child(3){
    padding-top:50px;
    padding-bottom:50px;
}

.mgt{
    margin-top: 1.5rem;
}

.scroll-signal{
    transform: translateY(90px);
    background-color: rgb(73 90 177);
    width: 25px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    position: relative;
    margin: auto;
    box-shadow: 1px 1px 19px 0px #ff00d43b;
}

.moving-dot{
    margin: 0 auto;
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 50%;
    box-shadow: 0px 5px 1px white;
    animation: oscillate 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.dead-center{
    margin: auto;
}

.header-box{
    display: flex;
    flex-direction: column;
}

h5.swipe-prompt {
    font-size: 0.8rem;
    position: absolute;
    white-space: nowrap;
    bottom: -70%;
    left: -70%;
}

a .swipe-prompt{
    color: rgba(255, 255, 255, 0.774);
    user-select: none;
}

.inner-frame{
    width: calc(100% - 5px);
    transform: translateX(2.55px);
    background-color: rgb(18 18 32);
    height: 100%;
    position: absolute;
}

@media (min-width: 1000px) {
    .scroll-signal{
        transform: translateY(0px);
    }

    h5.swipe-prompt {
        bottom: 120%;
        left: -70%;
    }
}

@keyframes oscillate{
    from {
        transform: translateY(35px);
          box-shadow: 2px 0px 0px 0.45px rgb(48, 31, 202);
    }
    to {
        transform: translateY(-5px);
         box-shadow: 0px 0px 2px 0px white;
    }
}
