{{ $bURL := .Site.BaseURL }}
{{ partial "header.html" . }}

<section class="container my-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1 class="display-4 fw-normal">{{ .Params.title}}</h1>
      <p class="text-muted sz-20 mt-3">{{ .Params.descriptionone }} </p>
      <p class="text-muted sz-20">{{ .Params.descriptiontwo }} </p>
    </div>

  </div>

  <div class="my-5">
    <div class="row justify-content-md-center">
      <div class="col-12 col-lg-12">
        <div class="feature-card p-5">
          <div class="px-0 px-lg-5">
            <div class="px-0 px-lg-5">
              <h5 class="text-primary text-uppercase">{{.Params.ourmission.title}}</h5>
              <div class="my-3">
                <h2>
                  <p> {{.Params.ourmission.description}}</p>
                </h2>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>


  </div>

  <!-- our values -->
  <div class="row my-5">

    <h5 class="text-primary text-uppercase">{{.Params.ourvalues.title}}</h5>
    <h2 class="display-5">Our Values</h2>

    <div class="col-12 col-lg-6 mb-4">
      <p class="text-muted sz-20">{{.Params.ourvalues.description}}</p>
    </div>

    <div class="col-12 col-lg-6 px-3 px-lg-5">

      <div class="colored-list">
        {{range .Params.ourvalues.list}}
        <p class="h4 mb-3 d-flex"><span class="rounded pr-5 d-block" style="width: 20px; height: 20px; "></span>
          {{.title}}</p>
        {{ end }}
      </div>


    </div>


    <!--  <div class="row">
      {{range .Params.ourvalues.list}}
      <div class="col-3">
        <div class="p-3 rounded feature-card">
          <div class="row">
            <div class="col-4" style="border-top: solid 2px #ee816f;"></div>
          </div>
          <h4 class="mt-5">{{.title}}</h4>
        </div>
      </div>
      {{end}}


    </div> -->
  </div>
  <br><br>
  <!-- Lets work together -->
  <div class="my-5 position-relative">
    <div class="row">

      <div class="col-12">
        <h5 class="text-primary text-uppercase">LET’S WORK TOGETHER</h5>
        <h5 class="display-4 fw-normal">{{.Params.gettingstarted.title}}</h5>
        <p class="text-muted w-lg-50 mx-auto">{{.Params.gettingstarted.description}}</p>
      </div>
    </div>

    <div class="row mt-5 px-3">
      {{ $i := 1 }}
      {{range .Params.gettingstarted.list}}
      <div class="col-12 col-lg-3 ar">
        <div class="d-none d-lg-block"></div>
        <div class="text-lg-center">
          <div class="d-flex">
            <div style="height: inherit;">
              <svg class="float-left d-block d-md-none" width="29" height="139" viewBox="0 0 29 139" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1.54325 115.778C2.58483 115.254 3.37191 115.515 3.89088 116.555C5.1933 118.908 8.05989 123.609 12.4934 130.661C12.2325 122.954 12.2325 24.1172 12.4934 12.3648C12.4934 -5.11742 16.4016 -0.64827 16.0126 12.3648C15.7517 24.5097 15.7517 123.608 16.0126 131.446L18.9446 127.135C21.2922 123.35 23.3754 120.477 25.1995 118.515C26.1129 117.605 26.9918 117.573 27.8407 118.417C28.6859 119.271 28.7186 120.082 27.9379 120.867C26.1129 122.698 24.0925 125.44 21.8757 129.095C19.2709 133.014 17.4459 135.687 16.4016 137.127C16.1407 138.039 15.6217 138.5 14.8374 138.5H14.4493C14.0603 138.5 13.7304 138.367 13.4732 138.107C13.0787 137.975 12.7524 137.78 12.4934 137.519C11.8408 136.213 10.0803 133.308 7.21646 128.8C4.34441 124.296 2.1931 120.739 0.759804 118.123C0.240835 117.082 0.498049 116.298 1.54325 115.778Z"
                  fill="url(#paint0_linear)" />
                <defs>
                  <linearGradient id="paint0_linear" x1="0.5" y1="138.5" x2="0.5" y2="0.868301"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EE816F" />
                    <stop offset="1" stop-color="#171A29" />
                  </linearGradient>
                </defs>
              </svg>
            </div>

            <div class="attributes">
              <img src="{{ $bURL }}img/icons/{{.image}}" alt="">
              <h4 class="mt-4">{{.title}}</h4>
              <p class="text-muted">{{.description}}</p>
              <div class="d-none d-lg-block"></div>

              <div class="vertical-grad d-none d-xl-block"></div>

              <p class="text-muted mt-3 text-uppercase right-grad" style="max-width:250px;">{{.step}}</p>
            </div>

          </div>






        </div>
      </div>
      {{ $i = add $i 1 }}
      {{end}}



    </div>


    <div class="row">
      {{ range .Params.gettingstarted.list}}
      <div class="col-3">
        <div class="d-none d-lg-block"></div>
        <div>


        </div>
      </div>
      {{end}}

    </div>


  </div>
</section>


{{ partial "footer.html" . }}

<script>
  // About Us Misalignment Fix
  var aboutAttributes = document.querySelectorAll('.attributes')
  aboutAttributes[1].classList.add('stagger-one')
  aboutAttributes[2].classList.add('stagger-two')
  aboutAttributes[3].classList.add('stagger-three')
</script>