{{ $bURL := .Site.BaseURL }}
<!-- <br><br> -->
<footer class="container my-5">
  <div class="d-flex flex-column flex-sm-row justify-content-md-between text-center">
    <a class="mb-3" href="{{ $bURL }}">
      <img src="{{ $bURL }}img/sentify-logo.svg" width="120px" alt="">
    </a>
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="{{ $bURL }}about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ $bURL }}#our-offerings">Our Offerings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ $bURL }}case-studies">Case Studies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ $bURL }}contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="d-flex flex-column flex-sm-row justify-content-md-between text-center">
    <div>
      <p>Copyright © 2021</p>
    </div>
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ $bURL }}privacy">Privacy Statement</a>
        </li>

      </ul>
    </div>
  </div>
</footer>
<!-- </div> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"
  async></script>

<script src="{{ $bURL }}js/main.js"></script>