<!DOCTYPE html>
<html>
{{ $bURL := .Site.BaseURL }}

<head>
  <title>{{ .Title }} :: {{ .Site.Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ $style := resources.Get "scss/bootstrap.scss" | toCSS | minify | fingerprint }}
  <link rel="icon" href="{{ $bURL }}favicon.ico">
  <link rel='preload' href='{{ $bURL }}fonts/montserrat-v15-latin-regular.woff2' as='font' type='font/woff2'
    crossorigin>
  <link rel='preload' href='{{ $bURL }}fonts/montserrat-v15-latin-300.woff2' as='font' type='font/woff2' crossorigin>
  <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" emotion="🤩">
  <link rel="stylesheet" type="text/css" href="{{ $bURL }}css/main.css" />
  {{ $customCSS := resources.Get "css/custom.css" }}
  <link rel="stylesheet" href="{{ $customCSS.Permalink }}">

</head>