<section class="mgt cover my-sm-5 mb-3 mb-sm-0">
  <div class="header-box container">
    <h1 class=" font-weight-medium display-4 font-weight-medium">{{ .Params.hero.title }}</h1>
    <p class="mgt site-subtitle sz-24">{{.Params.hero.description}}</p>
  </div>
  {{- partial "hero-graphic.html" . -}}

  <div class="scroll-signal">

    <div class="inner-frame"></div>
    <div class="moving-dot"></div>
    <a href="#features">
      <h5 class="swipe-prompt">Scroll Up</h5>
    </a>

  </div>
  <!-- </div> -->
</section>