<section class="feature-card py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-primary text-uppercase">Contact Us</h5>
        <h2 class="display-4 font-weight-medium">Register</h2>
        <p class="sz-20">Looking to understand more, please drop us a line.</p>
      </div>
      <div class="col-lg-8">
        <form action="" class="">
          <div class="row">
            <div class="col-lg-6 col-12 mb-3">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-lg-6 col-12 mb-3">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-12">
              <textarea name="" id="" cols="30" rows="6" class="form-control" placeholder="Your Message"></textarea>
            </div>
          </div>
          <button class="btn btn-outline-light btn-lg mt-3">Submit →</button>

        </form>
      </div>
    </div>
  </div>
</section>