{{ $bURL := .Site.BaseURL }}
<section class="children container">
  <div class="text-center my-4">
    <h5 class="text-primary text-uppercase">{{ .Params.slider.heading }}</h5>
    <h2 class="display-4 font-weight-medium">{{ .Params.slider.title }}</h2>
  </div>
  <div class="" style="overflow-x: scroll;">
    <div class=" d-inline-flex">
      {{ .Scratch.Add "i" 0 }}
      {{ $tag_filter := .Params.slider.tag_filter }}
      {{ range .Site.Pages }}
      {{ if in .Params.slider_filter $tag_filter }}
      {{ $k := .Scratch.Get "i" }}
      {{ if lt $k 5 }}

      <a {{ if .Params.section }} href="{{.Permalink}}" {{ end }}
        class="caseStudiesThumbnailHolder mb-3 me-3 position-relative d-inline-block"
        style="text-decoration: none; height: 300px; width: 300px;">
        <div class="firstView">
          <div class="logo {{ .Params.modifierClass }}" style="align-self: center; text-align: center;">
            <img width="175px" src="{{ $bURL }}img/brand-logos/{{ .Params.clientLogo }}" alt="">
          </div>
          <div class="p-3 text-white description">
            <div class="case-study-hover {{ .Params.modifierClass }}">
              <img src="{{ $bURL }}img/brand-logos/{{ .Params.clientLogo }}" alt="">
            </div>
            <div class="truncated">{{ .Params.title | truncate 130 }}</div>
            <div class="nonTruncated">{{ .Params.description }}</div>
            <span class="readmore h6"><br></span>
          </div>
        </div>
        <div class="d-none">
          <div class="position-absolute p-3" style="bottom: 0; left: 0; z-index: 100;">

            <p class="text-white">{{ .Params.description }}</p>
          </div>
        </div>

        <!-- <img src="{{ $bURL }}img/case-studies/{{ .Params.featuredImage }}" width="380px" alt=""> -->
      </a>

      {{ end }}
      {{ .Scratch.Add "i" 1 }}
      {{ end }}
      {{ end }}
    </div>
  </div>

  {{- partial "footer.html" . -}}
</section>